@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Rubik+Moonrocks&family=Ubuntu:ital,wght@0,400;1,700&display=swap');

.first-section{
  background-image: url("images/brad-starkey-eP8h7YVhFHk-unsplash.jpg");
  background-position: center;
  background-size: cover;
	padding: 20px 0px 50px 0px;
}
body{
		font-family: 'Roboto Condensed', sans-serif;
}

.btn-b{
	background-color: #c001fc !important;
	color: white !important;
	border-style: none;
	padding: 3px 20px;
	border-radius: 20px;
}
.btn-t{
	background-color: transparent;
	color: #615e8a;
	border-style: none;
}
a{
	text-decoration: none;
}
.member-cards{
  margin: 50px 0px !important;
  border-radius: 10px !important; 
}
.navbar-brand{
	font-family: 'Rubik Moonrocks', cursive !important;
	color: #fff !important;
	font-size: 40px;
}
.member-price{
  background-color:#b55e42;
  color: white;
  text-align: center;
  padding: 1px 0px;
}
.member-detail{
  text-align: center;
  padding: 50px 0px;
  border: 1px solid lightgray;
}
.member-detail h1{
font-size: 60px;

}
.navbar-brand-f{
	font-family: 'Rubik Moonrocks', cursive !important;
	color: #fff !important;
	font-size: 40px;
}
.navbar-nav li{
	padding: 0px 20px;
  color: white;
}
.navbar-nav li a{
	font-weight: bold;
  color: white;
}
.navbar-text a{
margin: 0px 12px;
}
.first-section h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 70px;
	font-weight: bold;
	text-align: center;

	margin: auto;
	color:white;
}
.first-section .col-md-12{
  padding: 50px 0px;

}
.col-md-12{
  width: 100% !important;
}
.first-section h2{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 50px;
	font-weight: 500;
	text-align: center;

	margin: auto;
	color:white;
}
.product-button{
	background-color: #fff !important;
	color: #000;
	width: 200px;
  text-align: center;
	margin: auto;
	border-style: none;
	padding:10px 20px;
	display: block;
	border-radius: 20px;
}
.first-section img{
	object-fit: contain;
}
.section2{
	background-color: white;
	padding: 50px 0px;
	text-align: center;
}
.section2 h1{
	font-weight: bold;
	font-size: 60px;
}
.section3{
	padding: 50px 0px;
	text-align: center;
	background-color:#000;
  color: white !important;
}

.section4{
	padding: 0px 0px 50px 0px;
	text-align: center;
  color: white !important;
	background-color:#000;
}
.section3 p:nth-child(2){
	letter-spacing: 2px;
}
.section3 .row p{
	font-size: 20px;
}
.section3 .row{
	margin-top: 60px;
}


footer {
    background:black;
    border-top: 1px solid white !important;
    color: white !important;
    color: #fff;
    margin-top: -20px;
}

footer p {
    padding: 20px 0;
    text-align: center;
    margin-bottom: 0px !important;
}

footer img {
    width: 44px;
}
@media (max-width: 767px){
	.green-contact-form{
		width: 100% !important;
	}
	.last-c{
		margin-top: 20px;
	}
.login-page{
	width: 100% !important;
}
	.first-section h1{
width: 100% !important;
font-size: 40px;
	}

	body{
		overflow-x: hidden;
	}
	.navbar-brand-f{
		font-size: 20px;
	}
}


.row.heading h2 {
    color: black;
    font-size: 52.52px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}


.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
  
   text-align:center; 
   border:2px solid #d5d5d5;
  
}
.row{
  display: flex;
  width: 100% !important;
}

.nav-row{
  display: flex;
  width: 100% !important;
}
.col-md-6{
  width: 50% !important;
  padding: 20px !important;
}
.navbar-brand{
  width: 50% !important;
}
#navbarText{
  width: 50% !important;
}
.navbar-nav{
  float: right;
  padding-top: 20px;
}
.col-md-4{
  width: 33.33% !important;
  padding: 10px;
}
.gallery img{
width: 100% !important;
height: 300px;
object-fit: cover;
}
body{
  margin: 0px !important;
}
.navbar-nav{
  display: flex;
}
.container{
  width: 1200px;
  margin: auto;
}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}

.section-head p {
font-size: 20px;
}
.section-head h4 {
  position: relative;
  padding:0;
  color:white;
  text-align: center;
  line-height: 1;
  letter-spacing:0.3px;
  font-size: 44px;
  font-weight: 700;  
  text-align:center;
  text-transform:none;
  margin-bottom:30px;
}
.section-head h4:before {
  content: '';
  width: 100px;
  height: 5px;
  background: #fff;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right:0;  
  margin:0 auto;
}
.about-section-column{
margin-top: 50px !important;
}
.section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color:#b55e42;
}
.prodct .col-md-3{
	margin-top: 30px;
}
.btn-primary{
	background-color: #C001FE !important;
}
.green-contact-form{
	width: 500px;
	border: 2px solid lightgray;
	margin: auto;
	border-radius: 10px;
	padding: 30px 20px;
}


.login-page {
  width: 360px;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin:auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #c001fc;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #c001fc;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #c001fc;
  text-decoration: none;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}


@media (max-width:1250px){
  .container{
    width: 100% !important;

  }
}
@media (max-width:667px){
.nav-row{
  display: block !important;
}
.navbar-nav li {
  padding: 0px 6px !important;
  font-size: 14px !important;
}
.navbar-nav{
  width: 300px !important;
margin: auto !important;
float: unset !important;
}
.row{
  display: block !important;
}
.col-md-4{
  width: 100% !important;
  padding: 0px !important;
margin-top: 20px !important;
}
.section4{
  padding: 20px 0px !important;
}

.col-md-6{
  width: 100% !important;
  padding: 0px !important;
}
#navbarText{
  width: 100% !important;
}
.navbar-brand{
  width: 300px !important;
  text-align: center;
  margin: auto !important;
  display: block !important;
}
body{
  margin: 10px !important;
}
.green-contact-form{
  padding: 0px !important;
  }
}
.member-cards img{
  height: 300px !important;
  width: 100% !important;
  object-fit: cover !important;
}
.form-control{
  padding: 5px 10px;
    margin-top: 7px;
    border-radius: 4px;
}
.btn-primary{
  background-color: #b55e42 !important;
  padding: 8px 20px;
  border-style: none;
  color: white !important;
  border-radius: 6px !important;
}
